<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">


<body>



    <div class="container">
        <h2>Choose Your Own Adventure</h2>
        <div id="text">Text</div>
        <br>
        <!-- An <label> is used to show text on the webpage -->
        <label id="story">Your Story Starts Here, Type press the Submit button to play!</label>
        <br>
        <br>

        <!-- <div id="option-buttons" class="btn-grid">
            <form>
                <div class="formbox">
                    <input id="input" class="btn" value=""></button>
                    <input id="input2" class="btn"></button>
                    <input id="input3" class="btn"></button>
                    <input id="input4" class="btn"></button>
                    <input id="input5" class="btn" placeholder="Once Upon A Time There Was A Big Bad Wolf..."
                        disabled></button>
                    <input id="input6" class="btn"></button>
                    <input id="input7" class="btn"></button>
                    <input id="input8" class="btn"></button>
                    <input id="input9" class="btn"></button>
                   
        <button id="submitButton" onclick="addSentence();">Submit</button>
        <button id="resetButton" onclick="ResetGame();">Back To The Start</button>
    </div>
    </div>
    </div>
    </form>
    </div> -->

        <form>
            <div class="formBox" class="btn-grid">
                <label for="title">Story</label>
                <input type="text" id="sentence" class="btnz" placeholder="Add sentence" />
                <input type="text" id="sentence2" class="btnz" placeholder="Add sentence" />
                <input type="text" id="sentence3" class="btnz" placeholder="Add sentence" />
                <input type="text" id="sentence4" class="btnz" placeholder="Add sentence" />
                <input type="text" id="sentence5" class="btnz" placeholder="Add sentence" />
                <input type="text" id="sentence6" class="btnz" placeholder="Add sentence" />
                <input type="text" id="sentence7" class="btnz" placeholder="Add sentence" />
                <input type="text" id="sentence8" class="btnz" placeholder="Add sentence" />
                <input type="text" id="sentence9" class="btnz" placeholder="Add sentence" />
            </div>
            <!-- <div class="formBox">
                <label for="yr">Year</label>
                <input type="number" id="yr" placeholder="Year" />
            </div> -->
            <div class="formBox">
                <button id="btn">Click to Add</button>
            </div>
            <div id="msg">
                <pre></pre>
            </div>
        </form>
    </div>


    <script>
        let storyparts = [];
        const addSentence = (ev) => {
            ev.preventDefault();  //to stop the form submitting
            let sentence = {
                id: new Date,
                sentence1: document.getElementById('sentence').value,
                sentence2: document.getElementById('sentence2').value,
                sentence3: document.getElementById('sentence3').value,
                sentence4: document.getElementById('sentence4').value,
                sentence5: document.getElementById('sentence5').value,
                sentence6: document.getElementById('sentence6').value,
                sentence7: document.getElementById('sentence7').value,
                sentence8: document.getElementById('sentence8').value,
                sentence9: document.getElementById('sentence9').value
                // year: document.getElementById('yr').value
            }
            storyparts.push(sentence);
            document.forms[0].reset(); // to clear the form for the next entries
            //document.querySelector('form').reset();
            console.log(storyparts[0].title)
            //for display purposes only
            console.warn('added', { storyparts });
            let pre = document.querySelector('#msg pre');
            // pre.textContent = '\n' + JSON.stringify(sentences, '\t', 2);
            pre.textContent = storyparts[0].title;

            //saving to localStorage
            localStorage.setItem('MySentenceList', JSON.stringify(storyparts));
        }
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('btn').addEventListener('click', addSentence);
        });
    </script>


    <!-- <script>

        let sentences = [];
        // console.log(sentences);
        const addSentence = (ev) => {
            ev.preventDefault();  //to stop the form submitting
            let sentence = {
                id: Date.now(),
                userInput: input.value,
                userInput2: document.getElementById('input2').value
            }

            sentences.push(sentence);
            document.forms[0].reset();

            //for display purposes only
            console.warn('added', { sentences });
            let pre = document.querySelector('#msg pre');
            pre.textContent = '\n' + JSON.stringify(sentences,
                '\t', 2);



        }

        // make sure the page is loaded
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('submitButton').addEventListener('click', addSentence);
        });

    </script> -->
    <script defer src="/game.js"></script>


</body>

</html>